<div class="post card">
  <div class="card-header">
    <h2>Edit Post</h2>
  </div>
  <form id="post-edits-form" class="card-body">
    <input id="post-id" type="hidden" value="{{post.id}}" />

    <label class="form-label" for="post-title">Title</label>
    <input id="post-edits-title" type="text" value="{{post.post_title}}" class="form-input" />

    <label class="form-label" for="post-body">Content</label>
    <textarea id="post-edits-body" class="form-input">{{post.body}}</textarea>

    <button type="submit" class="btn">Update</button>
    <button type="button" class="btn" id="post-edits-delete">Delete</button>
  </form>
</div>

<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>
```